button.tracking-buttons {
  cursor:pointer;
  padding:20px;
  font-size:20px;
  border-radius:10px;
  font-family: "Times New Roman", Serif;
}

button.tracking-buttons:hover{
	background-color: gray;
	animation: fadeEffect .5s;
}

@keyframes fadeEffect{
	from{background-color: white;};
	to{background-color: gray;};
}


#Avatar {
   margin: auto;
   left: 30%;
}

#Title {
  font-family: "Times New Roman", Serif;
  font-size:50px;
  padding:10px;
  font-weight: bold;
  text-align: center;
}

.dropmenu {
  display: none;
}

#water_dropdown {
  display: none;
  margin: auto;
  height: 200px;
  width: 30%;
  text-align: center;
}

#water_record {
  font-family: "Times New Roman", Serif;
  margin-top: 30px;
  font-size: 50px;
}

#food_record {
  font-family: "Times New Roman", Serif;
  margin-top: 30px;
  font-size: 50px;
}

#sleep_record {
  font-family: "Times New Roman", Serif;
  margin-top: 30px;
  font-size: 50px;
}

#exercise_record {
  font-family: "Times New Roman", Serif;
  margin-top: 30px;
  font-size: 50px;
}

#meal_dropdown {
  display: none;
  margin: auto;
  height: 200px;
  width: 100%;
  text-align: center;
}

#sleep_dropdown {
  display: none;
  margin: auto;
  height: 200px;
  width: 50%;
  text-align: center;
}

#exercise_dropdown {
  display: none;
  margin: auto;
  height: 200px;
  width: 100%;
  text-align: center;
}

.sprites {
  display: none;
  position: absolute;
  width: 300px;
  height: 300px;
  left: 40%;
  top: 50%;
}

#Default {
  display: block;
  position: absolute;
  width: 300px;
  height: 300px;
  left: 40%;
  top: 50%;
}

#Water {
  display: none;
  position: absolute;
  width: 300px;
  height: 300px;
  left: 40%;
  top: 50%;
}

#Hydrate {
  display: none;
  position: absolute;
  width: 300px;
  height: 300px;
  left: 40%;
  top: 50%;
}

.cal_img {
  display: inline-block;
  padding: 10px;
  width: 10%;

}

.prog {
    width: 100%;
    Background-color: grey;
    outline: 1px solid black;
}

.bar {
    width: 1px;
    height: 30px;
    Background-color: purple;
}

#Buttons {
  margin: auto;
  text-align: center;
}

#bars {
  position: fixed;
  width: 280px;
  bottom: 10px;
}

.icon {
  height: 25px;

}

#icons {
  position: fixed;
  bottom: 13px;
  left: 290px;
  
}

body {
  background-color: #e4dcf5;
}
.slider {
    position : relative;
    top : 50%;
    left: 50%;
    transform: translate(-50%,20%);
    width: 500px;
    height: 60px;
    padding: 30px;
    padding-left: 40px;
    background: #fcfcfc;
    border-radius: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0px 15px 40px #7E6D5766;
    }
    .slider label {
        font-size: 24px;
        font-weight: 400;
        font-family: Open Sans;
        padding-left: 10px;
        color: black;
   }
    .slider input[type="range"] {
        width: 400px;
        height:2px;
        background: black;
        border : none;
        outline : none;
    }
