button.tracking-buttons {
  cursor:pointer;
  padding:20px;
  font-size:20px;
  border-radius:10px;
}

button.tracking-buttons:hover{
	background-color: gray;
	animation: fadeEffect .5s;
}

@keyframes fadeEffect{
	from{background-color: white;};
	to{background-color: gray;};
}


#Avatar {
   margin: auto;
   left: 30%;
}

#Title {
  font-family: "Monaco", Monospace;
  font-size:20px;
  padding:10px;
}

.dropmenu {
  display: none;
}

#water_dropdown {
  display: none;
  margin: auto;
  height: 200px;
  width: 30%;
  text-align: center;
}

#water_record {
  font-family: "Monaco", Monospace;
  margin-top: 30px;
  font-size: 50px;
}

.sprites {
  display: none;
  position: absolute;
  width: 300px;
  height: 300px;
  left: 40%;
  top: 50%;
}

#Default {
  display: block;
  position: absolute;
  width: 300px;
  height: 300px;
  left: 40%;
  top: 50%;
}

#Water {
  display: none;
  position: absolute;
  width: 300px;
  height: 300px;
  left: 40%;
  top: 50%;
}

#Hydrate {
  display: none;
  position: absolute;
  width: 300px;
  height: 300px;
  left: 40%;
  top: 50%;
}

#water_prog {
    width: 100%;
    Background-color: grey;
}

#water_bar {
    width: 1px;
    height: 30px;
    Background-color: purple;
}

#Buttons {
  margin: auto;
  text-align: center;
}

#bars {
  position: fixed;
  width: 30%;
  bottom: 10px;
}

.icon {
  position: fixed;
  height: 25px;
  bottom: 13px;
  left: 290px;
}

body {
  background-color: #e4dcf5;
}
