button.tracking-buttons {
  margin: auto;
  cursor:pointer;
  padding:10px;
  border-radius:10px;
}

button.tracking-buttons:hover{
	background-color: gray;
	animation: fadeEffect .5s;
}

@keyframes fadeEffect{
	from{background-color: white;};
	to{background-color: gray;};
}



#Title {
  font-family: "Monaco", Monospace;
  font-size:20px;
  padding:10px;
}

#water_dropdown {
  visibility: hidden;
  margin: auto;
  height: 200px;
  width: 30%;
}

#water_record {
  font-family: "Monaco", Monospace;
  margin-top: 30px;
  font-size: 50px;
}

#Water {
  position: absolute;
  width: 268px;
  height: 565px;
  left: 50%;
  top: 50%;
}

body {
  background-color: #e4dcf5;
}
